html,

/* Este documento gera o estilo em css da páginas principal (index.html).
*/


/*ul e li estão responsáveis pelo posicionamento da lista de menu, retirei o estilo padrão de lista e deixei como uma coluna.
*/
ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
}

li {
    padding: 6px 0;
}


/*Todas as anchors possuem cor branca, sem decoração, tamanho maiusculo e estão centralizadas na tela, o padding foi usado para 
alguns ajustes desse tipo*/
a {
    position: relative;
    display: block;
    padding: 10px 0;
    font-family: bebas;
    font-size: 22px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/*A imagem de fundo do index.html, sua posição e como ela se comporta, alguns trechos de funções, retirei da internet para conseguir
deixar o background como eu queria*/
body{
    background-image: url(../img/capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Design Do H1*/
h1 { font-family: bebas; 
    font-size: 130px; 
    font-style: normal; 
    font-weight: 300; 
    line-height: 120px; 
    color: white; 
    letter-spacing: 10px; 
    display: block;
    justify-content: center;
    text-align: center;
    background-color: red;
}

/*alinhamento e tamanho dos icones linkedIn e GitHub*/
.containericone{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    letter-spacing: 20px;
    padding-bottom: 20px;
}

/* alinhamento e tamanho dos itens do menu*/
.containermenu{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    padding-right: 54px;
}


